.text--green-200 {
    color: var(--col-green-200);
}
.text--green-400 {
    color: var(--col-green-400);
}
.has-green-600-color,
.text--green-600 {
    color: var(--col-green-600);
}
.text--green-900 {
    color: var(--col-green-900);
}

.bg--green-200 {
    background-color: var(--col-green-200);
}
.has-green-300-background-color,
.bg--green-200 {
    background-color: var(--col-green-300);
}
.bg--green-400 {
    background-color: var(--col-green-400);
}
.bg--green-600 {
    background-color: var(--col-green-600);
}
.bg--green-900 {
    background-color: var(--col-green-900);
}


.text--blue-200 {
    color: var(--col-blue-200);
}
.has-blue-300-background-color {
    background-color: var(--col-blue-300);
}

.has-blue-600-color,
.text--blue-400 {
    color: var(--col-blue-400);
}
.text--blue-600 {
    color: var(--col-blue-600);
}
.text--blue-900 {
    color: var(--col-blue-900);
}

.bg--blue-200 {
    background-color: var(--col-blue-200);
}
.bg--blue-300 {
    background-color: var(--col-blue-300);
}
.bg--blue-400 {
    background-color: var(--col-blue-400);
}
.bg--blue-600 {
    background-color: var(--col-blue-600);
}
.bg--blue-900 {
    background-color: var(--col-blue-900);
}

.has-red-600-color,
.text--red-600 {
    color: var(--col-red-600);
}
.text--red-400 {
    color: var(--col-red-400);
}

.theme--blue {
    --_theme-bg: var(--col-blue-300);
    --_theme-fg: var(--col-blue-600)
}
.theme--red {
    --_theme-bg: var(--col-red-300);
    --_theme-fg: var(--col-red-600)
}
.theme--green {
    --_theme-bg: var(--col-green-300);
    --_theme-fg: var(--col-green-600);
}

.container-bg {
    width: 100%;
}
.bg--theme {
    background-color: var(--_theme-bg);
}
.fg--theme {
    color: var(--_theme-fg);
}
.bg--left-blue-300 {
    background: linear-gradient(90deg, var(--col-blue-300) 30%, transparent 30%);
}
.bg--left {
    background: linear-gradient(90deg, var(--_theme-bg) 30%, transparent 30%);
}